.checkout-container {
  display: block;
}

.checkout-page-title {
  font-size: 1.22222rem;
  text-align: left;
  padding: 0 11.11111rem 0 2.22222rem;
  line-height: 4.16667rem;

  @media (max-width: 800px) {
    margin-bottom: 80px;
    color: #333;
    text-transform: uppercase;
    line-height: 1.2;
    text-align: center;
    font-size: 1rem;
    padding: 17px 4.44444rem;
  }

  @media (max-width: 570px) {
    margin-bottom: 10px;
    text-decoration: underline;
  }
}

.checkout-body {
  max-width: 100%;
}

.checkout-info {
  width: 100%;
  height: auto;
  padding: 0;
}

.checkout-login-info {
  margin: 15px 40px 15px 40px;
  display: block;
  float: left;
  font-size: 0.855rem;
  position: relative;
  width: 100%;
  line-height: 1.4;
  color: #333;

  @media (max-width: 800px) {
    margin: 0;
    text-align: center;
  }
}

.checkout-login-link {
  font-weight: 600;
  text-decoration: underline;
  cursor: pointer;
}

.checkout-login-link:hover {
  opacity: 0.7;
}

.checkout-form-container {
  display: flex;
  flex: 1;
  justify-content: center;
  width: 100%;

  @media (max-width: 1025px) {
    flex-direction: column;
  }
}

.checkout-form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 66.66%;

  @media (max-width: 1025px) {
    width: 100%;
  }

  @media (max-width: 800px) {
    border-bottom: 1px solid #ddd;
  }

  h3 {
    margin-left: 30%;
    @media (max-width: 570px) {
      margin-left: 0;
      text-align: center;
    }
  }
}

.checkout-row {
  display: flex;
  justify-content: center;
  flex: 1;

  @media (max-width: 570px) {
    flex-direction: column;
  }
}

.checkout-input-wrap {
  display: flex;
  justify-content: center;
  text-align: center;
  width: 50%;
  padding: 20px 10px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;

  @media (max-width: 570px) {
    width: 100%;
  }

  &.full {
    width: 100%;
  }
}

.checkout-input-wrap:nth-child(2) {
  justify-content: flex-start;
}

.checkout-input-label {
  margin-right: 10px;
  font-weight: 700;
  font-size: 14px;
  width: 20%;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;

  @media (max-width: 800px) {
    width: 40%;
  }
}

.checkout-input {
  font-weight: 600;
  border: 0;
  width: 80%;
  height: 30px;
  color: #333;
  font-size: 13px;
  text-indent: 10px;
  background-color: rgba(0, 0, 0, 0.05);
  transition: all 300ms;

  @media (max-width: 800px) {
    width: 60%;
  }

  &.full {
    width: 60%;
  }

  &.error {
    background-color: rgba(226, 44, 44, 0.6);
    color: #fff;
  }
}

.checkout-input:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.required-star {
  color: red;
  cursor: help;
}

.checkout-final-details {
  width: 33.33%;
  border-left: 1px solid #ddd;

  @media (max-width: 1025px) {
    width: 100%;
    border: none;
  }
}

.checkout-final-details-title {
  padding: 20px 20px 20px 60px;
  font-size: 28px;
  font-weight: 700;
  color: #333;
  margin-bottom: 10px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;

  @media (max-width: 800px) {
    text-align: center;
    padding: 20px 0 0 0;
    font-size: 24px;
  }
}

.checkout-final-details-body {
  padding: 20px 20px 20px 60px;
  font-size: 16px;
  font-weight: 700;
  color: #333;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;

  @media (max-width: 800px) {
    padding: 20px;
  }
}

.checkout-final-details-row {
  padding: 20px 0;
  display: flex;
  flex: 1;
  border-bottom: 1px solid #ddd;

  .ant-checkbox {
    height: 16px !important;
    width: 16px !important;
  }
}

.checkout-final-details-name {
  display: flex;
  width: 70%;
}

.checkout-final-details-price {
  max-width: 30%;
  display: flex;
  flex: 1;
  justify-content: flex-end;
}

.place-order-button {
  font-size: 16px;
  font-family: Roboto, sans-serif;
  font-weight: 600;
  text-transform: uppercase;
  padding: 8px 5px;
  transition: background-color .1s 0s ease, color .1s 0s ease;
  background-color: #333;
  color: #fff;
  border: 2px solid #333;
  border-radius: 0;
  outline: 0;
  overflow: hidden;
  cursor: pointer;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  text-align: center;
  height: 72px;
  line-height: 48px;
  width: 100%;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.place-order-button:hover {
  background-color: #fff;
  color: #333;
}

.place-order-button:active {
  background-color: rgba(51, 51, 51, 0.9);
  color: #fff;

  @media (max-width: 800px) {
    background-color: #fff;
    color: #333;
  }
}

.checkout-block-clicks {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #ffffff;
  opacity: 0.6;
  z-index: 5;
  transition: all 500ms;

  &.disabled {
    z-index: -1;
    opacity: 0;
  }
}

.order-details-list {
  display: flex;
  flex-direction: column;
  width: 60%;
  border: 1px solid #d9d9d9;

  @media (max-width: 800px) {
    width: 100%;
    flex: 1;
  }
}

.order-details-list-item {
  border-bottom: 1px solid #e8e8e8;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.65);
  display: flex;
}

.order-details-list-item:last-child {
  border-bottom: 0;
}

.order-details-label-name {
  width: 50%;
  overflow-wrap: break-word;
  padding: 12px 0 12px 24px;
  height: auto;
}

.order-details-label-value {
  width: 50%;
  overflow-wrap: break-word;
  padding: 12px 24px 12px 5px;
}

.my-orders-header {
  font-size: 48px;
  display: flex;
  justify-content: center;

  @media (max-width: 1300px) {
    font-size: 36px;
  }

  @media (max-width: 1000px) {
    font-size: 24px;
  }

  @media (max-width: 570px) {
    font-size: 24px;
    text-align: center;
    padding-top: 20px;
  }
}

.my-orders-spacing {
  padding: 100px 0 190px 0;
  display: flex;
  justify-content: center;

  @media (max-width: 800px) {
    padding: 40px 0;
  }
}

.my-orders-input {
  height: 57px;
  border: 1px solid #eee;
  width: 500px;
  font-size: 24px;
  text-indent: 24px;

  @media (max-width: 1000px) {
    font-size: 18px;
  }
}

.my-orders-button {
  width: 108px;
  height: 57px;
  font-size: 18px;
  line-height: 57px;
  color: #fff;
  background-color: #2d2d2d;
  text-transform: uppercase;
  font-family: "Roboto Medium", sans-serif;
  cursor: pointer;
  border: 1px solid #2d2d2d;
  transition: all 200ms;

  @media (max-width: 1000px) {
    font-size: 12px;
  }
}

.my-orders-button:hover {
  background-color: #fff;
  color: #333;
}

.my-orders-button:active {
  background-color: rgba(51, 51, 51, 0.9);
  color: #fff;
}

.my-orders-list-item {
  margin: 20px 0 20px 0;
  display: block;
  font-family: "Roboto" !important;
}

.my-orders-order-header-container {
  border-bottom: 1px solid #cecece;
  padding-bottom: 20px;
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
}

.my-orders-order-header {
  h1 {
    font-weight: bold;
    font-size: 16px;
    color: #4082C7;
  }
  p {
    font-size: 14px;
  }
}

.my-orders-list-item-content {
  margin: 15px 0 25px;
  padding: 20px;
  font-family: "Roboto";
  font-size: 14px;
  background-color: #fff;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0px 2px 2px 0px rgba(27, 27, 27, 0.2);
  -moz-box-shadow: 0px 2px 2px 0px rgba(27, 27, 27, 0.2);
  box-shadow: 0px 2px 2px 0px rgba(27, 27, 27, 0.2);
}

.view-details-button {
  display: inline-block;
  padding: 4px 8px;
  line-height: 22px;
  font-family: "Roboto";
  font-weight: bold;
  font-size: 14px;
  color: #0f6ab2;
  background-color: #fff;
  border: 1px solid #0f6ab2;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

.view-details-button-container {
  padding: 20px 20px 0 0;

  @media (max-width: 1100px) {
    padding: 20px 0 0 0;
  }
}

.order-product-details {
  padding-left: 20px;
  max-width: 500px;
  max-height: 80px;
  overflow: hidden;

  p {
    font-size: 14px;
  }
}

.order-details-price {
  float: right;
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 80px;
}

.order-details-products-list-item {
  max-width: 700px;
  padding: 10px;
  border: 1px solid #e8e8e8;
  clear: both;
  height: 100px;
  margin: 10px auto 10px auto;
}

.order-details-order-summary-container {
  border-top: 1px solid #cecece;
  max-width: 700px;
  padding: 10px;
  margin: 10px auto 10px auto;
}

.order-details-order-summary {
  padding-top: 18px;
  font-size: 14px;
  float: right;
}

.order-details-order-summary-paragraph-left {
  width: 250px;
  line-height: 19px;
  float: left;

  @media (max-width: 1100px) {
    width: 150px;
  }
}

.order-details-order-summary-paragraph-right {
  float: right;
}
