.product-section {
  width: 1240px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center;

  @media (max-width: 1300px) {
    width: 100%;
    flex-direction: column;
  }
}

.mt15 {
  margin-top: 15px;
}

.product-info {
  border-top: 1px solid #ddd;
  margin-top: 35px;
}

.product-description-title {
  font-size: 14px;
  color: #333;
  text-transform: uppercase;
  height: 14px;
  line-height: 1;
  padding: 18px 0;
  font-weight: 600;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}

.product-description {
  font-size: 14px;
  height: auto;
  padding-bottom: 18px;
  visibility: visible;
  opacity: 1;
  line-height: 24px;
}

.cross-and-up-product {
  width: 50%;
  float: left;
  padding: 0 10px;
  position: relative;
  margin: 0 0 20px 0;
  height: auto;

  @media (max-width: 1300px) {
    width: 100%;
    padding: 0 !important;
  }
}

.w100 {
  width: 100% !important;
}

.tac {
  text-align: center;
}

.mt30 {
  margin-top: 30px;
}

.section-title {
  text-align: center;
  text-transform: uppercase;
  font-family: "Roboto", sans-serif;
  font-size: 24px;
  line-height: 1;
  font-weight: 600;
  margin-bottom: 9px;
}
