@import "../../src/css/upload.scss";
@import "../../src/css/categories.scss";

.signup-form {
  width: 100%;
  margin: 0 auto;
}

.login-form {
  width: 100%;
  margin: 0 auto;
}

.login-form-forgot {
  float: right;
}

.login-form-button {
  width: 100%;
}

.signup-form-errors {
  background: #fef0ef;
  border: 1px solid #fcdbd9;
}

.ant-alert {
  word-break: normal;
  overflow-wrap: break-word;
  word-wrap: break-word;
  @media screen and (max-width: 768px) {
    max-width: 312.5px;
  }
}

.ant-layout-header {
  background: #ffffff !important;
}

.logo {
  width: 120px;
  height: 31px;
  background: whitesmoke;
  border-radius: 6px;
  margin: 16px 24px 16px 0;
  float: left;
}

.ant-form-item-control {
  display: flex;
  flex-direction: column;
}

.ant-modal-title {
  text-align: center;
}

.login-form-remember-forgot {
  display: flex;
  justify-content: space-between;
  margin: 0 0 10px 0;
}

.vertical-center-modal {
  text-align: center;
  white-space: nowrap;
}

.vertical-center-modal:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  width: 0;
}

.vertical-center-modal .ant-modal {
  display: inline-block;
  vertical-align: middle;
  top: 0;
  text-align: left;
}

.ant-upload.ant-upload-drag {
  @media screen and (max-width: 768px) {
    width: 90vw !important;
  }
  .ant-upload-btn {
    @media screen and (max-width: 768px) {

    }
    @media screen and (max-width: 500px) {
      padding: 0 !important;
    }
  }
}

.ant-upload-hint {
  @media screen and (max-width: 768px) {
    word-break: normal;
    word-wrap: break-word;
    text-overflow: clip;
  }
}

.categories-wrap {
  display: flex;
  flex: 1;
}

.uploads-container {
  display: flex;
  flex: 1;
  border: 1px solid #ddd;
  @media screen and (max-width: 1160px) {
    flex-direction: column-reverse;
  }
}

.gallery-container {
  width: 70%;
  padding: 14px;
  @media screen and (max-width: 1160px) {
    width: 100%;
  }
}

.info-container {
  width: 30%;
  padding: 14px;
  @media screen and (max-width: 1160px) {
    width: 100%;
  }
}

.info-uploads {
  height: 100%;
  overflow: hidden;
  border-left: 1px solid #ddd;
  background: #f3f3f3;
}

.trigger {
  font-size: 16px;
  line-height: 64px;
  cursor: pointer;
  transition: color .3s;
}

.ql-editor {
  min-height: 300px;
}

.div-as-link {
  color: blue;
  text-decoration: underline;
  cursor: pointer;
}

.div-as-link:hover {
  opacity: 0.8;
}

.product-thumbnail-create {
  cursor: pointer;
}

.product-thumbnail-create:hover {
  opacity: 0.8;
}